#treeForm .ui-tree .ui-treenode-label.ui-state-highlight,
#tabView .ui-tree .ui-treenode-label.ui-state-highlight{
    color: rgb(255, 255, 255);
    background: rgb(86, 86, 85);
}

#treeForm  .ui-tree .ui-treenode-label.ui-state-highlight,
#tabView .ui-tree .ui-treenode-label.ui-state-highlight{
    cursor: pointer;
    padding: 3px 10px;
    border-radius: 20px;
}

#treeForm .ui-tree .ui-treenode .ui-treenode-content:hover, .ui-treenode-content:focus,
#tabView .ui-tree .ui-treenode .ui-treenode-content:hover, .ui-treenode-content:focus{
    color: white;
    background: rgb(0, 117, 172);
}

#treeForm .ui-tree .ui-treenode .ui-treenode-content,
#tabView .ui-tree .ui-treenode .ui-treenode-content {
    cursor: pointer;
    padding: 3px 10px;
    border-radius: 20px;
}