.ui-tree .ui-treenode-label.ui-state-highlight{
    color: rgb(255, 255, 255);
    background: rgb(86, 86, 85);
}

.ui-tree .ui-treenode-label.ui-state-highlight{
    cursor: pointer;
    padding: 3px 10px;
    border-radius: 20px;
}

.ui-tree .ui-treenode .ui-treenode-content:hover, .ui-treenode-content:focus{
    color: white;
    background: rgb(0, 117, 172);
}

.ui-tree .ui-treenode .ui-treenode-content{
    cursor: pointer;
    padding: 3px 10px;
    border-radius: 20px;
}

#mainForm .ui-wizard-step-title {
    margin: 0 3px 0 0;
    padding: 0.4em;
    float: left;
}

#mainForm .ui-corner-all {
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}

#mainForm li.ui-state-default, #teForm.ui-widget-header .ui-state-default {
    display: block;
    border-radius: 3px 3px 0 0;
    text-decoration: none;
    padding: 10px 21px;
    background: rgb(233, 233, 233);
    font-size: 14px;
    font-weight: bold;
    color: #4f4f4f;
}
#mainForm ul.ui-helper-reset {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    line-height: 1.3;
    text-decoration: none;
    font-size: 100%;
    list-style: none;
    border-bottom: 5px solid rgb(0, 117, 172);
}

#mainForm .ui-helper-clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

#mainForm li.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight  {
    background: rgb(0, 117, 172);
    color: rgb(255, 255, 255);
    color: #ffffff;
}

#mainForm .ui-widget-content .ui-button.ui-state-default,
#testForm .ui-widget-content .ui-button.ui-state-default,
#allProperties .ui-widget-content .ui-button.ui-state-default {
    display: inline-block;
    font-family: MuseoSans700, sans-serif;
    font-size: 16px;
    padding: 0 25px;
    height: 34px;
    line-height: 34px;
    margin-right: 0;
    border: 1px solid rgb(53, 53, 53);
    color: white;
    cursor: pointer;
    min-width: 150px;
    text-decoration: none;
    border-radius: 4px;
    background: linear-gradient(rgb(105, 105, 104), rgb(53, 53, 53)) rgb(105, 105, 104);
    vertical-align: top;
}

#mainForm  .ui-widget-content .ui-button.ui-state-default:hover,
#allProperties  .ui-widget-content .ui-button.ui-state-default:hover, #testForm .ui-widget-content .ui-button.ui-state-default:hover{
    color: rgb(34, 34, 34);
    border: 1px solid rgb(165, 163, 155);
    background: linear-gradient(rgb(247, 247, 247), rgb(226, 225, 225)) rgb(247, 247, 247);
}